<!DOCTYPE html>
<html lang="en">
<%- include ("../layout/header.ejs") %>
<body>
   <%- include ("../layout/navBarAdmin.ejs") %>  
   <div class="container-fluid my-5">
    <div class="container d-flex">
        
        <div class="col-3">
            Navigation
        </div>
        <div class="col-9 border px-5 py-5 rounded">
            <h4>Order Details</h4>
            <div class="d-flex justify-content-between  top-bar">
                <div>
                    <p>Ordered Date: <%= moment(order.orderDate).format('DD-MM-YYYY') %></p>
                    <p>Order ID : <%= order.orderId %></p>
                </div>
                <div>
                    <form action="/admin/orders/view-order/<%= order._id %>?_method=PUT" method="post" enctype="application/x-www-form-urlencoded" class="d-flex gap-3 ">
                        <select name="status" class="form-control mx-2">
                            <option value="Pending" <%= order.status === 'Pending' ? 'selected' : '' %>>Pending</option>
                            <option value="Shipped" <%= order.status === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                            <option value="Delivered" <%= order.status === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                            <option value="Cancelled" <%= order.status === 'Cancelled' ? 'selected' : '' %>>Cancelled</option>
                            <option value="PaymentFailed" <%= order.status === 'PaymentFailed' ? 'selected' : '' %>>PaymentFailed</option>
                        </select>
                        <input type="submit" class="form-control fs-6"  value="SAVE"   required>
                    </form> 
                </div>
            </div>
            <div class="d-flex justify-content-between details">
                <div class="border col-4 mx-2 rounded px-3 py-2">
                    <h5>Customer</h5>
                    <p><%= order.user.user_name %></p>
                    <p><%= order.user.user_email %></p>
                    <p><%= order.user.user_contact %></p>
                </div>
                <div class="border col-4 mx-2 rounded px-3 py-2">
                    <h5>Order Info</h5>
                    <p>Shipping : <%= order.status %></p>
                    <p>Payment Method: <span class="text-capitalize"><%= order.paymentMethod %></span></p>
                </div>
                <div class="border col-4 mx-2 rounded px-3 py-2">
                    <h5>Deliver To</h5>
                    <p><%= order.address %></p>
                </div>
            </div>
            <div class="col-12">
            <table class="table  my-5">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>                    
                    <th scope="col">Total</th>                        
                </tr>                
                <% order.products.forEach(item =>{%>
                    <tr>
                        <td class="d-flex flex-column"><img src="/uploads/<%= item.product.prod_images[0]%>" height="50px" width="50px"><%= item.product.prod_name %></td>
                        <td><%= item.price%></td>
                        <td><%= item.quantity %></td>
                        <td><%= item.price * item.quantity %></td>
                    </tr>
                <%})%>
            </table>            
            </div>
            <div>                
                <p class="fw-bold">Subtotal</p>
                <p >₹<%= totalValue %></p>
                <p class="fw-bold">Shipping Cost</p>
                <p>₹<%= shippingCost %></p>
                <p class="fw-bold">Grand Total:</p>
                <p>₹<%= totalValue + shippingCost %></p>
            </div>
        </div>
    </div>
   </div>
   <%- include ("../layout/footerUser.ejs") %> 
</body>
</html>