<!DOCTYPE html>
<html lang="en">
<%- include ("../layout/header.ejs") %>
<body>  
<%- include ("../layout/navBarnew.ejs") %>
<div class="conatiner-fluid">
    <div class="container " style="margin-top: 5rem;">
        <p><a href="/" class="text-decoration-none text-black">Home</a>></p>
        <div class="container my-5">
          <%- include ("../layout/sidebar.ejs") %>
              <div class="col-8 d-flex flex-column align-items-center">
                <div class="d-flex flex-wrap my-5 mx-5 gap-5">
                    <%if(products.length > 0){
                        for(let i=0; i<products.length; i++){ 
                            
                        %>
                    
                    <a href="/products/<%= products[i]._id %>" class="text-decoration-none"><div class="card shadow d-flex flex-column align-items-center" style="width: 22rem;">
                        <img src="\uploads\<%= products[i].prod_images[0] %>" class="card-img-top px-2 py-2" alt="...">
                        <div class="card-body d-flex flex-column align-items-center">
                          <p class="fs-6"><%= products[i].prod_name %></p>
                          <p class="card-text fs-5">₹<%= products[i].prod_price %></p>
                          <p><% if(products[i].prod_quantity>0){ %> 
                            <p></p>
                            <%} else { %>
                            <p class="fs-5 fw-bold"> OUT OF STOCK</p>
                            <%}%></p>
                         
                        </div>
                    </div>
                </a>
                      <%}%>
                                <%}else{%>
                    
                                    Data not found
                            
                                <%}%>
                
                    </div>
                    <%- include ("../layout/pagination.ejs") %>
            </div>
    </div>
</div>

</body>
<%- include ("../layout/footerUser.ejs") %>
</html>