<!DOCTYPE html>
<html lang="en">
<%- include ("../layout/header.ejs") %>
<body>
  <%- include ("../layout/navBarnew.ejs") %>
  <div class="container-fluid">
    <div class="container  d-flex flex-column justify-content-center align-items-center border shadow px-3 py-3 my-5 rounded col-md-4 col-xs-12 form" >
      <form action="/addresses/edit/<%= userData._id %>/<%= addressIndex %>?_method=PUT" method="post" class=""  autocomplete="off" style="width: 90%;" >
        <h4 class="text-center my-3">Edit Address</h4>
       
        <div class="d-flex gap-3">
        <div class="mb-3 ">           
          <label for="houseNo" class="form-label">House No</label>
          <input type="text" class="form-control" id="houseNo" name="houseNo" onchange="validateName()" value="<%= address.houseNo %>" required >
          <span id="nameError" style="color: red;"></span>
        </div>
        <div class="mb-3 ">           
          <label for="street" class="form-label">Street</label>
          <input type="text" class="form-control" id="street" name="street" onchange="validateName()"  value="<%= address.street %>"  required >
          <span id="nameError" style="color: red;"></span>
        </div>
      </div>
      <div class="d-flex gap-3">
        <div class="mb-3 ">           
          <label for="city" class="form-label">City</label>
          <input type="text" class="form-control" id="city" name="city" onchange="validateName()"  value="<%= address.city %>"  required >
          <span id="nameError" style="color: red;"></span>
        </div>
        <div class="mb-3 ">           
          <label for="state" class="form-label">State</label>
          <input type="text" class="form-control" id="state" name="state" onchange="validateName()"  value="<%= address.state %>"  required >
          <span id="nameError" style="color: red;"></span>
        </div>
      </div>
      <div class="d-flex gap-3">
        <div class="mb-3 ">           
          <label for="country" class="form-label">Country</label>
          <input type="text" class="form-control" id="country" name="country" onchange="validateName()"  value="<%= address.country %>"  required >
          <span id="nameError" style="color: red;"></span>
        </div>
        <div class="mb-3 ">           
          <label for="zipcode" class="form-label">Zipcode</label>
          <input type="text" class="form-control" id="zipcode" name="zipcode" onchange="validateName()"  value="<%= address.zipCode %>"  required >
          <span id="nameError" style="color: red;"></span>
        </div>
      </div>
      <div class="mb-3">
        <input type="submit" class="form-control fs-5" value="SAVE ADDRESS" required />
      </div>
      </form>
    </div>
  </div>
</body>
<script>
  function validateName() {
          const name = document.getElementById("name").value.trim();
          const nameError = document.getElementById("nameError");

          if (name.length < 5) {
            nameError.textContent = "Name must be atleat 5 characters long"
          }

        }
</script>
</html>