<!DOCTYPE html>
<html lang="en">
<%- include ("../layout/header.ejs") %>
<body>
  <%- include ("../layout/navBarnew.ejs") %>
  <div class="container-fluid">
    <div  class="container d-flex flex-column justify-content-center align-items-center border shadow px-3 py-3 my-5 rounded col-md-4 col-xs-12 form">
        <h4>Edit Profile</h4>
        <form action="/profile/edit/<%= userData._id %>?_method=PUT" method="post" class=""  autocomplete="off" style="width: 90%;" onsubmit="validatePasswords()" >
            <% if(typeof message !== "undefined"){%>
                <div class="alert alert-danger" ><%= message %></div>       
            <%}%>
        
            <% if(locals.success){%>
                <div class="alert alert-success" ><%= success %></div> 
            <%}%>
            <div class="mb-3 ">           
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" onchange="validateName()" required value="<%= userData.user_name %>">
                <span id="nameError" style="color: red;"></span>
              </div>
              <div class="mb-3 ">           
                <label for="email" class="form-label"> Email address</label>
                <input type="email" class="form-control" id="email" name="email" onchange="validateEmail()"  required value="<%= userData.user_email %>">
                <span id="emailError" style="color: red;"></span>
              </div>                  
              <div class="mb-3 ">           
                <label for="mobileno" class="form-label">Mobile Number</label>
                <input type="text" class="form-control" id="mobileno" name="mobileno" onChange="validateNumber()" required value="<%= userData.user_contact %>">
                <span id="numberError" style="color: red;"></span>
              </div>          
              <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="female" value="Female" <%= user.user_gender === 'Female' ? 'checked' : '' %>>
                    <label class="form-check-label" for="female">Female</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="male" value="Male" <%= user.user_gender === 'Male' ? 'checked' : '' %>>
                    <label class="form-check-label" for="male">Male</label>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="dateOfBirth">Date of Birth</label>
                <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" value="<%= user.birthdate ? user.birthdate.toISOString().substring(0, 10) : '' %>" required>
            </div>
              <div class="mb-3 " style="border-color: #BC4C2A;">       
                <input type="submit" class="form-control  fs-6"  value="SAVE DETAILS" style="color: #BC4C2A;"  required>
              </div>    
            </form>      
    </div>
  </div>
  <%- include ("../layout/footerAdmin.ejs") %>
</body>
</html>