<!DOCTYPE html>
<html lang="en">
<%- include ("../layout/header.ejs") %>

    <body>
        <%- include ("../layout/navBarnew.ejs") %>

            <div class="container-fluid px-0">
                <div class="d-flex justify-content-between align-content-center">
                    <div class="hero container-fluid text-center py-5">
                        <h2 class="header">CUE THE COLOR</h2>
                        <div class="mb-3 border button1 text-center my-3" style="border-color: #BC4C2A; width: 20%;">
                            <a href="/shopall" class="text-decoration-none text-uppercase fs-4 text-white fw-bold">Shop
                                All</a>
                        </div>
                    </div>
                </div>
                <div class="container my-5 mx-5 d-flex flex-column justify-content-center align-items-center">
                    <h2 class="text-center" style="color:#BC4C2A">POPULAR PRODUCTS</h2>
                    <div class="d-flex justify-content-between my-5 mx-5 gap-5">
                      <% if(products.length > 0) { %>
                        <% products.forEach(product => { %>
                          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card shadow" style="width: 18rem;">
                              <img src="/uploads/<%= product.prod_images[0] %>" class="card-img-top" alt="<%= product.prod_name %>">
                              <div class="card-body d-flex flex-column align-items-center">
                                <p class="fs-6"><%= product.prod_name %></p>
                                <% if (product.appliedDiscount > 0) { %>
                                  <p class="card-text fs-5">
                                    <span style="text-decoration: line-through;">₹<%= product.prod_price %></span>
                                    ₹<%= product.discountedPrice %> 
                                    <span class="text-success">(<%= product.appliedDiscount %>% off)</span>
                                  </p>
                                <% } else { %>
                                  <p class="card-text fs-5">₹<%= product.prod_price %></p>
                                <% } %>
                              
                              </div>
                            </div>
                          </div>
                        <% }); %>
                      <% } else { %>
                        <p>No popular products found.</p>
                      <% } %>
                    </div>
                    
                    <div class="my-5">
                      <button style="padding: 5px 50px; background: transparent; border-color: #BC4C2A;">
                        <a href="/shopall" class="fs-5 text-decoration-none" style="color: #BC4C2A;">SHOP ALL</a>
                      </button>
                    </div>
                  </div>
                                

                    </div>

            </div>
                    <%- include ("../layout/footerUser.ejs") %>

    </body>

</html>