<!DOCTYPE html>
<html lang="en">
<%- include ("../layout/header.ejs") %>

    <body class="px-0">
        <%- include ("../layout/navbar.ejs") %>
            <div class="container-fluid mb-5">
                <div class="container">
                    <h4>Account</h4>
                    <div class="row d-flex gap-5">
                        <div class="col-12 d-md-none mb-3">
                            <button id="accountToggle" class="border-0 px-2 py-1 rounded"
                                style="background-color: #BC4C2A; color: white; ">
                                <i class="fa-solid fa-user mx-1" style="color:white;"></i>My Account
                            </button>
                        </div>
                        <div class="col-12 col-md-3 d-none d-md-block border px-2 py-5 rounded" id="profileSidebar">
                            <p><a href="/profile" class="text-decoration-none fs-5 " style="color: #888888;">Profile</a>
                            </p>
                            <p><a href="/change-password" class="text-decoration-none fs-5 "
                                    style="color: #888888;">Change Password</a></p>
                            <p><a href="/addresses" class="text-decoration-none fs-5 "
                                    style="color: #888888;">Addresses</a></p>
                            <p><a href="/order-history" class="text-decoration-none fs-5 " style="color: #888888;">My
                                    Orders</a></p>
                            <p><a href="/my-wallet" class="text-decoration-none fs-5 " style="color: #888888;">My
                                    Wallet</a></p>
                            <p><a href="/my-referrals" class="text-decoration-none fs-5 " style="color: #888888;">My
                                    Referrals</a></p>
                            <p><a href="/wishlist" class="text-decoration-none fs-5 " style="color: #888888;">My
                                    Wishlist</a></p>
                        </div>
                        <div class="col-12 col-md-8 col-sm-12 mx-auto border shadow rounded px-3">
                            <h4 class="text-center" style="padding: 1.5rem 10rem;">Order Details</h4>
                            <p>Order Id : <%= order.orderId %>
                            </p>
                            <p>Order Date : <%= moment(order.orderDate).format('MMMM Do YYYY, h:mm:ss') %>
                            </p>
                            <p>Order Status: <%= order.status %>
                            </p>
                            <p>Shipping Address : <%= order.address %>
                            </p>
                            <p>Payment Method : <%= order.paymentMethod %>
                            </p>
                            <p>Wallet Amount Used : ₹<%= order.walletAmountUsed %>
                            </p>
                            <p>Coupon Discount: <%= order.discount %>
                            </p>
                            <button id="download-invoice"
                                class="px-3 text-decoration-none fs-6 fw-bold  border rounded-2 bg-transparent "
                                style="color: #BC4C2A;">Download Invoice</button>

                            <h4 class="text-center" style="padding: 1.5rem 10rem;">Products</h4>
                            <div class="row gap-2 mb-5 ">
                                <% order.products.forEach(item => { %>
                                    <div class="col-12">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center mb-3">
                                                    <img src="/uploads/<%= item.product.prod_images[0] %>" height="50px" width="50px" class="me-3">
                                                    <p class="card-title m-0"><%= item.product.prod_name %></p>
                                                </div>
                                               
                                                <p class="card-text">Price: <span>₹<%= Math.round(item.price) %></span> </p>
                                                <p class="card-text">Quantity:<span><%= item.quantity %></span></p>
                                                <p class="card-text">Total:<span> ₹<%= Math.round(item.price * item.quantity) %></span></p>
                                                <p class="card-text">Status: <%= item.productStatus %></p>
                                            
                                            </div>
                                            <div class="card-footer bg-transparent border-0" style="width: 30%;">
                                                <% if (item.productStatus === 'Pending') { %>
                                                    <button class="btn px-3 text-decoration-none fs-6 fw-bold border rounded-2 bg-transparent" onclick="cancelOrderItem('<%= order._id %>', '<%= item.product._id %>')" style="color: #BC4C2A;">Cancel</button>
                                                <% } else if (order.status === 'Delivered') { %>
                                                    <button class="btn px-3 text-decoration-none fs-6 fw-bold border rounded-2 bg-transparent" onclick="returnOrderItem('<%= order._id %>', '<%= item.product._id %>')" style="color: #BC4C2A;">Return</button>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <%- include ("../layout/footerUser.ejs") %>

                <script>

                    document.getElementById('download-invoice').addEventListener('click', () => {
                        window.location.href = `/download-invoice/<%= order._id %>`;
                    });
                    async function cancelOrderItem(orderId, productId) {
                        const result = await Swal.fire({
                            title: 'Are you sure?',
                            text: 'Do you really want to cancel this item?',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Yes, cancel it!',
                            cancelButtonText: 'No, keep it'
                        });

                        if (result.isConfirmed) {
                            await fetch('/cancel-order-item', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ orderId, productId })
                            })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.success) {
                                        Swal.fire({
                                            icon: 'success',
                                            text: 'Item cancelled successfully',
                                        }).then(() => {
                                            location.reload();
                                        })
                                    } else {

                                        Swal.fire({
                                            icon: 'Failure',
                                            text: 'Failed to cancel the item',
                                        })
                                    }
                                })
                                .catch(error => console.log(error));
                        }
                    }

                    async function returnOrderItem(orderId, productId) {
                        const { value: reason } = await Swal.fire({
                            title: 'Enter the reason for returning this item',
                            input: 'text',
                            inputPlaceholder: 'Enter reason',
                            showCancelButton: true,
                            confirmButtonText: 'Submit',
                            cancelButtonText: 'Cancel',
                        });

                        if (reason) {
                            await handleReturnItemRequest(orderId, productId, reason);
                        }
                    }

                    async function handleReturnItemRequest(orderId, productId, reason) {
                        try {
                            const response = await fetch('/return-order-item', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ orderId, productId, reason }),
                            });

                            const data = await response.json();

                            if (data.success) {
                                Swal.fire('Success', 'The item has been returned successfully.', 'success')
                                    .then(() => {
                                        location.reload();
                                    });
                            } else {
                                Swal.fire('Error', data.message || 'Failed to submit return request for the item.', 'error');
                            }
                        } catch (error) {
                            console.error('Error processing return item request:', error);
                            Swal.fire('Error', 'An error occurred while processing the return request.', 'error');
                        }
                    }

                    // JavaScript for toggling sidebar
                    document.getElementById('accountToggle').addEventListener('click', function () {
                        const sidebar = document.getElementById('profileSidebar');
                        if (sidebar.classList.contains('d-none')) {
                            sidebar.classList.remove('d-none');
                            sidebar.classList.add('d-block');
                        } else {
                            sidebar.classList.remove('d-block');
                            sidebar.classList.add('d-none');

                        }
                    });



                </script>
    </body>

</html>