<!DOCTYPE html>
<html lang="en">
<%- include ("../layout/header.ejs") %>
<body>
  <%- include ("../layout/navBarnew.ejs") %>
  <div class="container-fluid">
    <div class="container mt-5" >
        <h2 class="mb-3">Payment</h2>
      
        <div class="d-flex container">
        <div class="card mb-4 col-6 mx-3">
            <% if (selectedAddress){%>
                <div class="card-body">
                    <h5>Selected Address</h5>
                    <% const selectedAddressObj = user.addresses.id(selectedAddress) %>
                    <p class="fs-6"><%= selectedAddressObj.houseNo %></p>
                    <p class="fs-6"><%= selectedAddressObj.street %>,</p>
                    <p class="fs-6"><%= selectedAddressObj.city %>,</p>
                    <p class="fs-6"> <%= selectedAddressObj.state %> - <%= selectedAddressObj.zipCode %>,</p>
                    <p class="fs-6"><%= selectedAddressObj.country %></p>
                </div>
            <%}%>
            
        </div>
        
        <div class="d-flex flex-column align-items-center col-6">
            <% if(cart.products.length >0){%>
            <table class="table table-bordered" >
                <tr>
                    <th scope="col">Product</th>                   
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>                                             
                </tr>  
                <% cart.products.forEach(item =>{%>                 
                    <tr class="">                                        
                        <td scope="row" class="text-capitalize">
                        <div class="d-flex align-items-center">
                        <img src="\uploads\<%= item.product.prod_images[0] %>" alt="" height="100px" wight="100px">
                        <div class="d-flex flex-column ">
                        <p class="fs-5"><%= item.product.prod_name %></p>
                        <p class="fs-6">Color:<%= item.product.prod_color.color_name %></p>
                        </div>
                        </div>
                        </td>                       
                        <td>                           
                        <input type="number" id="quantityInput-<%= item.product._id %>" value="<%= item.quantity %>" min="1" max="2" class="py-1 border border-1 text-center" style="border-left: none; border-right: none;" readonly>                               
                        </div>
                        </td>
                        <td><%= item.product.prod_price * item.quantity %></td>
                        </tr>
                    <%})%>                                        
            </table>          
        </div>
    </div>  
        <div class="d-flex  justify-content-center ">
            <form action="/payment" method="POST" class="col-6 mx-3">
                <div class="form-group">
                    <label>Select Payment Method</label><br>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="paymentMethod" id="cod" value="cod" checked>
                        <label class="form-check-label" for="cod">
                            Cash on Delivery
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="paymentMethod" id="creditCard" value="creditCard">
                        <label class="form-check-label" for="creditCard">
                            Credit Card
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="paymentMethod" id="paypal" value="paypal">
                        <label class="form-check-label" for="paypal">
                            PayPal
                        </label>
                    </div>
                </div>                
                <button type="submit" class="px-3 text-decoration-none fs-5  border rounded-2 bg-transparent my-3 " style="color: #BC4C2A;">PLACE ORDER</button>
            </form>
            <div class="d-flex flex-column align-items-end container mb-5 col-6">             
            <table class="table border " >
                <tr>
                    <td class="fs-5">Sub Total:</td>
                    <td class="fs-5">₹<%= totalValue %></td>
                </tr>
                <tr>
                    <td class="fs-5">Shipping:</td>
                    <% if (totalValue > 1000) {%>
                        <td class="fs-5">₹0</td>
                    <%} else {%>
                        <td class="fs-5">₹100</td>
                    <%}%>                        
                </tr>
                <tr>
                    <td class="fs-5">Total:</td>
                    <% if (totalValue > 1000) {%>
                    <td class="fs-5">₹<%= totalValue + 0  %></td>
                    <%} else {%>
                    <td class="fs-5">₹<%= totalValue  + 100 %></td> 
                    <%}%> 
                            
                </tr>
            </table>       
            </div>
             
        <%} else {%>    
            <h3>Your cart is empty</h3>
            <%}%>    
            
        </div>
        </div>
  </div>
</body>
</html>