<!DOCTYPE html>
<html lang="en">
<%- include ("../layout/header.ejs") %>

    <body>
        <%- include ("../layout/navBarnew.ejs") %>

            <div class="container_fluid">
                <div class="container" style="margin-top: 5rem">
                    <p><a href="/" class="text-decoration-none text-black">Home</a>><%= products.prod_name %>
                    </p>
                    <div class="container my-5">
                        <div class="row align-items-start">
                            <div class="col-6">
                                <i class="fa-regular fa-heart" style="color: #bc4c2a;" id="addToWishlistBtn"
                                    data-product-id="<%= products._id %>"></i>
                                <div class="image-container" onmousemove="zoomIn(event)" onmouseleave="zoomOut()">
                                    <img src="\uploads\<%= products.prod_images[0] %>" alt="" id="mainImage">
                                    <img src="\uploads\<%= products.prod_images[0] %>" alt="" class='zoomed-image'>
                                </div>
                                <div id="currentImages" class="my-5">
                                    <% products.prod_images.forEach(image=> { %>
                                        <img src="\uploads\<%= image %>" alt="" style="width: 150px; height: 150px;"
                                            onclick="changeImage('<%= image %>')">
                                        <% }) %>
                                </div>
                            </div>
                            <div class="col-6">
                                <h3>
                                    <%= products.prod_name %> (<%= products.prod_rating %> <i
                                                class="fa-solid fa-star fs-6" style="color: #FFD43B;"></i>)
                                </h3>
                                <p>₹<%= products.prod_price %>
                                </p>
                                <p>Size : <%= products.prod_size.size %>
                                </p>
                                <p>Colour : <%= products.prod_color.color_name %>
                                </p>
                                <p>
                                    <% if(products.prod_quantity>0 && products.prod_quantity<6){ %>
                                            <p style="color:#BC4C2A;" class="fw-bold">Only <%= products.prod_quantity %>
                                                    left !</p>
                                            <%} else if(products.prod_quantity===0) { %>
                                                <p class="fs-5 fw-bold"> OUT OF STOCK</p>
                                                <%}%>
                                </p>
                                <p>PRODUCT INFO</p>
                                <hr style="width:60%; height: 2px; color: #BC4C2A;">
                                <p class="fs-5" style="width: 70%; margin-bottom: 2rem;">
                                    <%= products.prod_desc %>
                                </p>
                                <div class="d-flex align-items-center my-3">
                                    <button class="px-3 py-1 fw-bold border border-1"
                                        style="background-color: #BC4C2A; color: white;border:none;"
                                        onclick="decrementQuantity()">-</button>
                                    <input type="number" id="quantityInput" value="1" min="1"
                                        max="<%= products.prod_quantity %>" class="py-1 text-center border border-1"
                                        style="border-left: none; border-right: none;outline: none; " readonly>
                                    <button class="px-3 py-1 fw-bold border border-1 "
                                        style="background-color: #BC4C2A; color: white;border:none;"
                                        onclick="incrementQuantity()">+</button>
                                </div>
                                <span id="quantity-availablity" class="fs-5 my-3"></span>

                                <div class="d-flex flex-column gap-3">
                                    <button class="px-5 py-3 fs-5 text-white fw-bold"
                                        style="border: none;background-color: #BC4C2A;"
                                        onclick="addToCart('<%= products._id %>')">ADD TO CART</button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container my-5 mx-5 d-flex flex-column justify-content-center align-items-center">
                        <h2 class="" style="color:#BC4C2A">Related Products</h2>
                        <div class="d-flex justify-content-between my-5 mx-5 gap-5">
                            <%if(relatedProducts.length> 0){
                                for(let i=0; i<relatedProducts.length; i++){ %>
                                    <a href="/products/<%= relatedProducts[i]._id %>" class="text-decoration-none"
                                        style="width: 22rem; height: 32rem;">
                                        <div class="card shadow" style="width: 18rem;">
                                            <img src="\uploads\<%= relatedProducts[i].prod_images[0] %>"
                                                class="card-img-top" alt="...">
                                            <div class="card-body d-flex flex-column align-items-center">
                                                <p class="fs-6">
                                                    <%= relatedProducts[i].prod_name %>
                                                </p>
                                                <p class="card-text fs-5">₹<%= relatedProducts[i].prod_price %>
                                                </p>

                                            </div>
                                        </div>
                                        <%}%>
                                            <%}else{%>

                                                Data not found

                                                <%}%>

                        </div>
                    </div>
                    </a>
                </div>
                <%- include ("../layout/footerUser.ejs") %>
                    <script>
                        function zoomIn(event) {
                            const imageContainer = event.currentTarget;
                            const zoomedImage = imageContainer.querySelector('.zoomed-image');
                            const rect = imageContainer.getBoundingClientRect();
                            const x = event.clientX - rect.left;
                            const y = event.clientY - rect.top;

                            zoomedImage.style.display = 'block';
                            zoomedImage.style.transform = `translate(-${x}px, -${y}px) scale(1.5)`;
                        }

                        function zoomOut() {
                            const zoomedImage = document.querySelector('.zoomed-image');
                            zoomedImage.style.display = 'none';
                        }

                        // functiions for increment decrement 

                        function incrementQuantity() {
                            let maxQuantityPerUser = 5;
                            const quantityInput = document.getElementById('quantityInput');
                            const maxValue = quantityInput.max;
                            let quantity = parseInt(quantityInput.value);
                            let quantityAvailablity = document.getElementById('quantity-availablity');
                            if (quantity > maxValue) {
                                quantityAvailablity.innerText = `Only ${maxValue} stocks left `
                            } else if (quantity >= maxQuantityPerUser) {
                                quantityAvailablity.innerText = 'Maximum quantity per user exceeded'
                            } else {
                                quantityInput.value = quantity + 1;
                            }
                        }




                        function decrementQuantity() {
                            const quantityInput = document.getElementById('quantityInput');
                            let quantity = parseInt(quantityInput.value);
                            if (quantity > 1) {
                                quantityInput.value = quantity - 1;
                            }
                        }

                        // add to cart function 
                        async function addToCart(productId) {
                            const quantity = document.getElementById('quantityInput').value;
                            const response = await fetch('/add-to-cart', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ productId, quantity })
                            });
                            console.log(response);
                            if (response.status === 401) {
                                const result = await response.json();
                                if (result.redirectUrl) {
                                    window.location.href = result.redirectUrl;
                                }
                                return;
                            }
                            const result = await response.json();
                            if (result.success) {
                                alert('Product added to cart successfully!');
                            } else {
                                alert('Failed to add product to cart.');
                            }
                        }

                        // add to wishlist 

                        document.getElementById('addToWishlistBtn').addEventListener('click', function () {
                            const productId = this.dataset.productId;

                            fetch('/wishlist/add', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ productId: productId })
                            })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.error) {
                                        console.error(data.error);
                                        alert("Failed to add product to wishlist.");
                                    } else {
                                        alert("Product added to wishlist.");
                                    }
                                })
                                .catch(error => {
                                    console.error('Error adding product to wishlist:', error);
                                });
                        });



                    </script>




    </body>

</html>