<!DOCTYPE html>
<html lang="en">
<%- include ("../layout/header.ejs") %>

  <body>
    <%- include ("../layout/navbar.ejs") %>
      <div class="container-fluid mb-5">
        <div class="container">
          <h4>Account</h4>
          <div class="row d-flex gap-5">
            
            <div class="col-12 d-md-none mb-3">
              <button id="accountToggle" class="border-0 px-2 py-1 rounded"  style="background-color: #BC4C2A; color: white; " >
                <i class="fa-solid fa-user mx-1" style="color:white;"></i>My Account
              </button>
            </div>
            <div class="col-12 col-md-3 d-none d-md-block border px-2 py-5 rounded" id="profileSidebar" >
              <p><a href="/profile" class="text-decoration-none fs-5 " style="color: #888888;" >Profile</a></p>
              <p><a href="/change-password" class="text-decoration-none fs-5 " style="color: #888888;" >Change Password</a></p>
              <p><a href="/addresses" class="text-decoration-none fs-5 " style="color: #888888;" >Addresses</a></p>
              <p><a href="/order-history" class="text-decoration-none fs-5 " style="color: #888888;" >My Orders</a></p>
              <p><a href="/my-wallet" class="text-decoration-none fs-5 " style="color: #888888;" >My Wallet</a></p>
              <p><a href="/my-referrals" class="text-decoration-none fs-5 " style="color: #888888;" >My Referrals</a></p>
              <p><a href="/wishlist" class="text-decoration-none fs-5 " style="color: #888888;" >My Wishlist</a></p>
            </div>
              <div class="col-11 col-md-8 col-sm-11 mx-auto border shadow rounded">
                <h4 style="padding: 1.5rem 10rem;">Profile Details</h4>
                <hr style="width: 90%;margin: auto;">
                <div style="padding: 3rem 2rem;">
                  <table class="table table-borderless fs-5" style="width: 90%;">
                    <tr>
                      <td>Full Name</td>
                      <td>
                        <%= userData.user_name %>
                      </td>
                    </tr> 
                    <tr>
                      <td>Mobile Number</td>
                      <td>
                        <%= userData.user_contact %>
                      </td>
                    </tr>
                    <tr>
                      <td>Email Id</td>
                      <td>
                        <%= userData.user_email %>
                      </td>
                    </tr>
                    <tr>
                      <td>Gender</td>
                      <td>
                        <%= userData.user_gender ? userData.user_gender : '-Not Added-' %>
                      </td>
                    </tr>
                    <tr>
                      <td>Date Of Birth</td>
                      <td>
                        <%= userData.user_dob ? moment(userData.user_dob).format('MMMM Do YYYY') : '-Not Added-' %>
                      </td>
                    </tr>
                  </table>
                </div>
                <div style=" text-align: center; padding: 0 0 2rem 0;margin:0 auto;">
                  <a href="/profile/edit/<%= userData._id%>"
                    class=" text-decoration-none text-center fs-6  border rounded-2"
                    style="background-color: #BC4C2A; color: white; padding: .5rem 5rem;  "> EDIT DETAILS</a>
                </div>
              </div>
          </div>
        </div>
      </div>

      <%- include ("../layout/footerUser.ejs") %>
      <script>
        // JavaScript for toggling sidebar
        document.getElementById('accountToggle').addEventListener('click', function() {
          const sidebar = document.getElementById('profileSidebar');        
          if (sidebar.classList.contains('d-none')) {
            sidebar.classList.remove('d-none');
            sidebar.classList.add('d-block');           
          } else {
            sidebar.classList.remove('d-block');
            sidebar.classList.add('d-none');
            
          }
        });
      
        // // Hide sidebar when clicking outside of it (on the overlay)
        // document.getElementById('filterOverlay').addEventListener('click', function() {
        //   const sidebar = document.getElementById('filterSidebar');
        //   sidebar.classList.remove('d-block');
        //   sidebar.classList.add('d-none');
        //   this.style.display = 'none';
        // });
      </script>
  </body>

</html>