<!DOCTYPE html>
<html lang="en">
<%- include("../layout/header.ejs") %>

  <body>
    <%- include("../layout/navbar.ejs") %>
      <div class="container-fluid mb-5" >
        <div class="container ">
          <h4>Account</h4>
          <div class="row d-flex gap-5">            
            <div class="col-12 d-md-none mb-3">
              <button id="accountToggle" class="border-0 px-2 py-1 rounded"  style="background-color: #BC4C2A; color: white; " >
                <i class="fa-solid fa-user mx-1" style="color:white;"></i>My Account
              </button>
            </div>
            <div class="col-12 col-md-3 d-none d-md-block border px-2 py-5 rounded" id="profileSidebar" >
              <p><a href="/profile" class="text-decoration-none fs-5 " style="color: #888888;" >Profile</a></p>
              <p><a href="/change-password" class="text-decoration-none fs-5 " style="color: #888888;" >Change Password</a></p>
              <p><a href="/addresses" class="text-decoration-none fs-5 " style="color: #888888;" >Addresses</a></p>
              <p><a href="/order-history" class="text-decoration-none fs-5 " style="color: #888888;" >My Orders</a></p>
              <p><a href="/my-wallet" class="text-decoration-none fs-5 " style="color: #888888;" >My Wallet</a></p>
              <p><a href="/my-referrals" class="text-decoration-none fs-5 " style="color: #888888;" >My Referrals</a></p>
              <p><a href="/wishlist" class="text-decoration-none fs-5 " style="color: #888888;" >My Wishlist</a></p>
            </div>
            <div class="col-11 col-md-8 col-sm-11 mx-auto border shadow rounded">
                <h4 class="text-center py-5">My Wishlist</h4>
                <hr style="width: 80%;margin: auto;">
                <div style="padding: 3rem 3rem;">
                  <% if (wishlist && wishlist.products.length> 0) { %>
                    <div class="row">
                    <% wishlist.products.forEach(product=> { %>
                      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-4 d-flex justify-content-center">
                      <a href="/products/<%= product._id %>" class="text-decoration-none">
                      <div class=" text-center" >
                        <div class="card mb-4 shadow-sm">
                          <img src="/uploads/<%= product.prod_images[0] %>" alt="<%= product.prod_name %>"
                            class="card-img-top" />
                          <div class="card-body">
                            <p class="card-title">
                              <%= product.prod_name %>
                            </p>
                            <% if (product.discountedPrice) { %>
                              <p class="card-text">
                                <span class="text-decoration-line-through">₹<%= product.prod_mrp %></span>
                                <span class="text-danger">₹<%= Math.round(product.discountedPrice) %></span>
                              </p>
                            <% } else { %>
                              <p class="card-text">Price: ₹<%= product.prod_mrp %></p>
                            <% } %>
                            <% if (product.inStock) { %>
                              <p class="text-success">In Stock</p>
                            <% } else { %>
                              <p class="text-danger fw-bold">OUT OF STOCK</p>
                            <% } %>
                            <button class="removeFromWishlistBtn btn btn-danger"
                              data-product-id="<%= product._id %>">Remove from Wishlist</button>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                      <% }) %>
                    </div>
                        <% } else { %>
                          <p>Your wishlist is empty.</p>
                          <% } %>
                </div>
              </div>
          </div>
        </div>


      </div>
      </div>

      <%- include("../layout/footerUser.ejs") %>
      <script>
        document.querySelectorAll('.removeFromWishlistBtn').forEach(button => {
          button.addEventListener('click', function () {
            const productId = this.dataset.productId;

            fetch('/wishlist/remove', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({ productId: productId })
            })
              .then(response => response.json())
              .then(data => {
                if (data.error) {
                  console.error(data.error);
                  Swal.fire({
                    title: 'Error',
                    text: 'Failed to remove product from wishlist.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                  });
                } else {
                  Swal.fire({
                    title: 'Success',
                    text: 'Product removed from wishlist.',
                    icon: 'success',
                    confirmButtonText: 'OK'
                  });
                  window.location.reload();
                }
              })
              .catch(error => {
                console.error('Error removing product from wishlist:', error);
              });
          });
        });
      </script>
  </body>

</html>