<!DOCTYPE html>
<html lang="en">
<%- include ("../layout/header.ejs") %>
<body>
   <%- include ("../layout/navBarAdmin.ejs") %>
    <div class="container-fluid">
        <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 90vh;" >
            <h2 class="mb-3 text-center"> Add New Product</h2>
            <% if(typeof message !== "undefined"){%>
                <div class="alert alert-danger" ><%= message %></div>       
            <%}%>
           
            <form action="/admin/products/add-product" method="post" enctype="multipart/form-data" autocomplete="off" class=" border px-3 py-3 rounded" style="width: 40%">
                <div class="mb-3 ">           
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required >
                </div>
                <div class="mb-3 d-md-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <label for="category" class="form-label">Category</label>
                        <select class="form-select" id="category" name="categoryId" required>
                            <% categories.forEach((category) => { %>
                                <option value="<%= category._id %>"><%= category.cat_name %></option>
                            <% }) %>               
                        </select>
                    </div>
                    
                    <div class="d-flex flex-column">
                        <label for="size" class="form-label">Size</label>
                        <select class="form-select" id="size" name="sizeId">                                 
                            <% sizes.forEach((size) => { %>
                                <option value="<%= size._id %>"><%= size.size %></option>
                            <% }) %> 
                        </select>                
                    </div>
                    
                    <div class="d-flex flex-column">
                        <label for="colour" class="form-label">Colour</label>
                        <select class="form-select" id="colour" name="colorId">
                            <% colors.forEach((color) => { %>
                                <option value="<%= color._id %>"><%= color.color_name %></option>
                            <% }) %> 
                      </select>
                    </div>                    
                </div>
                <div class="mb-3 d-flex justify-content-between align-items-center" >
                    <div class="mb-3 d-flex flex-column " style="width: 25%">           
                        <label for="price" class="form-label">Price</label>
                        <input type="text" class="form-control" id="price" name="price" required >
                    </div>
                    <div class="mb-3 flex-column " style="width: 25%">           
                        <label for="quantity" class="form-label">Quantity</label>
                        <input type="text" class="form-control" id="quantity" name="quantity" required >
                    </div>
                    <div class="mb-3 flex-column ">           
                        <label for="rating" class="form-label" style=" width:25%">Rating</label>
                        <input type="text" class="form-control" id="rating" name="rating" required >
                    </div>
                </div>
                
                  
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" rows="3" name="description"></textarea>
                </div>

                <div class="input-group mb-3 d-flex flex-column">
                    <label for="images" class="form-label">Images</label>
                    <input type="file" class="form-control" id="images" name="images" style="width: 100%;" multiple>
                    <div id="imagePreview" class="d-flex justify-content-between"></div>                    
                </div>

                <div class="mb-3 ">                           
                    <input type="submit" class="form-control fs-5"  value="ADD NEW PRODUCT"   required>
                </div> 
                <div class="mb-3 ">       
                    <input type="submit" class="form-control  fs-5"  value="CANCEL" required>
                </div> 
            </form>
            
        </div>
    </div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
  const imageInput = document.getElementById('images');
  const imagePreview = document.getElementById('imagePreview');

  imageInput.addEventListener('change', function() {
    imagePreview.innerHTML = '';

    const files = Array.from(imageInput.files);

    files.forEach(file => {
      const reader = new FileReader();

      reader.onload = function(e) {
        const img = document.createElement('img');
        img.src = e.target.result;
        img.style.width = '100px';
        img.style.height = '100px';
        img.style.padding = "10px"
        imagePreview.appendChild(img);
      }

      reader.readAsDataURL(file);
    });
  });
});
</script>
</body>
</html>