<!DOCTYPE html>
<html lang="en">
<%- include ("../layout/header.ejs") %>
<body>
   <%- include ("../layout/navBarAdmin.ejs") %>
<body>
    <h2 class="text-center my-5">Product List</h2> 

</body><div class="container-fluid">
        <div class="container">
            <div class="d-flex justify-content-end mb-5" >
                <a href="/admin/products/add-product" class="px-3 mx-5 text-decoration-none fs-6   border rounded-2 p-2" style="background-color: #BC4C2A; color: white;" >ADD NEW PRODUCT</a>
            </div>
            <div class="d-flex justify-content-between mb-5">
                <table class="table table-bordered" >
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th> 
                        <th scope="col">Rating</th> 
                        <th scope="col">Images</th>
                        <th scope="col" colspan="2" class="text-center">Actions</th>        
                    </tr>
                   
                        <%if(products.length > 0){
                        for(let i=0; i<products.length; i++){ 
                            
                        %>
                    
                        <tr>
                            <td scope="row" class="text-capitalize"><%= products[i].prod_name %></td>
                            <td><%= products[i].prod_category.cat_name %></td>
                            <td><%= products[i].prod_price %></td>
                            <td><%= products[i].prod_quantity %></td>
                            <td><%= products[i].prod_rating %></td>
                            <td><img src="\uploads\<%= products[i].prod_images[0] %>" width="50px" height="50px"></td>
                            <td class="text-center"><a href="products/edit-product/<%= products[i]._id %>" class="px-3 text-decoration-none fs-5  border rounded-2 bg-success text-white">Edit</a></td>
                            <td class="text-center"><a href="products/delete-product/?id=<%= products[i]._id %>" class="px-3 text-decoration-none fs-5  border rounded-2 bg-danger text-white">Delete</a></td>
                        </tr>  
                        <%}%>
                        <%}else{%>
            
                            <td>Data not found</td>
                    
                        <%}%>
                
                </table>
                
                
            </div>
        </div>
    </div>
</html>